# Dépendances
/node_modules/

# Build
/build/
/.svelte-kit/
/package/

# Environnement
.env
.env.*
!.env.example

# Système
.DS_Store
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel
